.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* @ImageDisplayPageの画像表示CSS */

.hand-display {
  display: flex;
  flex-direction: row; /* Flexboxの方向を横に設定 */
  justify-content: center;
  align-items: center;
  width: 100%; /* コンテナの幅を親要素に合わせる */
  min-height: 250px; /* 最小の高さを設定 */
}

.hand-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.hand-container p {
  margin: 0;  /* マージンを0に設定して行間を詰める */
  padding: 2px 0;  /* 上下にわずかなパディングを追加 */
}

.loading-text {
  font-size: 16px;
}

/* imageSelectPageで画像を選択するときのアニメーション */

.image {
  transition: box-shadow 0.3s ease-in-out;
}

.image.selected {
  animation: flash 0.5s ease-in-out;
  box-shadow: 0 0 8px 4px rgba(255, 255, 0, 0.8); /* 黄色の光る枠 */
}

@keyframes flash {
  from { box-shadow: 0 0 8px 4px rgba(255, 255, 0, 0.8); }
  to { box-shadow: none; }
}

/*
勝敗、ポイントのアニメーション設定 @ImageDisplayPage
*/

.glowing-text {
  color: #00bfff;
  text-shadow: 0 0 10px #00bfff, 0 0 15px #00bfff;
  padding: 30px;
  font-size: 28px;
  background: none;
  font-family: 'Impact, Charcoal, sans-serif' !important;
  font-weight: bold !important;
  margin: 10px 0 !important;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 1s infinite !important;
  animation-delay: 0.5s; /* 0.5秒の遅延を追加 */
}

@keyframes flydown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.flydown {
  animation: flydown 0.5s ease-out;
}

/* レインボーボタンのCSS */

.rainbow-border {
  display: inline-block;
  padding: 3px; /* ボタン周りの余白 */
  border-radius: 180px; /* ボタンの形に合わせて角を丸くする */
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  margin: 10px 0; /* ボタン間のマージンを追加 */
}

.rainbow-border .rainbow-button {
  height: 30px;
  border-radius: 180px;
  background-color: #282c34; /* App-headerの背景色に合わせる */
  color: rgba(235, 235, 235, 1); /* 文字色 */
  font-size: 16px; /* 文字サイズを18pxに設定 */
  font-weight: bold; /* 文字を太字に設定 */
  text-align: center; /* テキストを中央揃え */
  line-height: 30px; /* ボタンの高さに合わせて中央揃え */
  border: none; /* ボタンのデフォルトの枠線を削除 */
  cursor: pointer; /* カーソルをポインタに変更 */
  margin: 0; /* マージンをリセット */
  position: relative; /* 擬似要素のために相対位置を設定 */
  white-space: nowrap; /* テキストを一行にする */
  padding: 0; /* 内側の余白をなくす */
}

.rainbow-border .rainbow-button:before {
  content: '';
  z-index: 1;
  position: absolute;
  display: block;
  width: 80%;
  height: 70%;
  top: 15%;
  left: 10%;
  transition: 0.3s opacity ease-in-out;
  filter: blur(15px);
  opacity: 0;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

.rainbow-border .rainbow-button:hover:before {
  opacity: 1;
  transition: 0.3s opacity ease-in-out;
  filter: blur(25px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

.rainbow-button.vs-player {
  width: 200px; /* 他のプレイヤーと対戦ボタンの幅 */
}

.rainbow-button.vs-computer {
  width: 130px; /* PCと対戦ボタンの幅 */
}

/* メディアクエリを追加して、画面サイズに応じたスタイルを適用 */
@media (max-width: 375px) {
  .glowing-text {
    font-size: 32px !important; /* iPhone用に文字サイズをさらに大きくする */
  }
  .rainbow-button.vs-player {
    width: 220px; /* 小さい画面での幅をさらに広げる */
  }
}

/* @ImageDisplayPageのカードが裏返る演出 */


.flip-card {
  background-color: transparent;
  width: 150px;
  height: 150px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s; /* アニメーションの時間を0.3秒に設定 */
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(540deg); /* 180deg * 3 = 540deg */
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.flip-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* @ModeSelectPageのカードがきらりと光る演出 */

.reflection{
  display:inline-block;
  position:relative;
  overflow:hidden;
  width: 200px; /* 親要素の幅を画像の幅に合わせる */
  height: 200px; /* 親要素の高さを画像の高さに合わせる */
  margin-bottom: 20px; /* 親要素にマージンを追加 */
  }
   
  .reflection:after {
    content: "";
    height: 200px; 
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0;
    transform: rotate(45deg);
    animation: reflection 3s ease-in-out infinite;
  }
   
  @keyframes reflection {
  0% { transform: scale(0) rotate(45deg); opacity: 0; }
  80% { transform: scale(0) rotate(45deg); opacity: 0.2; }
  81% { transform: scale(4) rotate(45deg); opacity: 0.4; }
  100% { transform: scale(50) rotate(45deg); opacity: 0; }
  }

/* カードの周りの枠 */
.neon-border {
  position: relative;
  display: inline-block;
  padding: 10px; /* 画像の周りに余白を追加 */
  border-radius: 10px; /* 角を丸くする場合 */
  box-shadow: 0 0 20px rgba(128, 0, 128, 0.5), /* パープルのネオンの影 */
              0 0 30px rgba(128, 0, 128, 0.5), /* パープルのネオンの影 */
              0 0 40px rgba(128, 0, 128, 0.5), /* パープルのネオンの影 */
              0 0 50px rgba(128, 0, 128, 0.5), /* パープルのネオンの影 */
              0 0 60px rgba(128, 0, 128, 0.5), /* パープルのネオンの影 */
              0 0 70px rgba(128, 0, 128, 0.5); /* パープルのネオンの影 */
  animation: neon-flicker 1.5s infinite alternate; /* ネオンのちらつきアニメーション */
}

@keyframes neon-flicker {
  0% {
    box-shadow: 0 0 20px rgba(128, 0, 128, 0.5),
                0 0 30px rgba(128, 0, 128, 0.5),
                0 0 40px rgba(128, 0, 128, 0.5),
                0 0 50px rgba(128, 0, 128, 0.5),
                0 0 60px rgba(128, 0, 128, 0.5),
                0 0 70px rgba(128, 0, 128, 0.5);
  }
  50% {
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.3),
                0 0 20px rgba(128, 0, 128, 0.3),
                0 0 30px rgba(128, 0, 128, 0.3),
                0 0 40px rgba(128, 0, 128, 0.3),
                0 0 50px rgba(128, 0, 128, 0.3),
                0 0 60px rgba(128, 0, 128, 0.3);
  }
  100% {
    box-shadow: 0 0 20px rgba(128, 0, 128, 0.5),
                0 0 30px rgba(128, 0, 128, 0.5),
                0 0 40px rgba(128, 0, 128, 0.5),
                0 0 50px rgba(128, 0, 128, 0.5),
                0 0 60px rgba(128, 0, 128, 0.5),
                0 0 70px rgba(128, 0, 128, 0.5);
  }
}
