.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hand-display {
  display: flex;
  flex-direction: row; /* Flexboxの方向を横に設定 */
  justify-content: space-around;
  align-items: center;
  width: 100%; /* コンテナの幅を親要素に合わせる */
  min-height: 250px; /* 最小の高さを設定 */
}

.hand-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.hand-container p {
  margin: 0;  /* マージンを0に設定して行間を詰める */
  padding: 2px 0;  /* 上下にわずかなパディングを追加 */
}

.loading-text {
  font-size: 16px;
}

.image {
  transition: box-shadow 0.3s ease-in-out;
}

.image.selected {
  animation: flash 0.5s ease-in-out;
  box-shadow: 0 0 8px 4px rgba(255, 255, 0, 0.8); /* 黄色の光る枠 */
}

@keyframes flash {
  from { box-shadow: 0 0 8px 4px rgba(255, 255, 0, 0.8); }
  to { box-shadow: none; }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 1s infinite !important;
  animation-delay: 0.5s; /* 0.5秒の遅延を追加 */
}

@keyframes flydown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.flydown {
  animation: flydown 0.5s ease-out;
}

.highlighted-title {
  text-shadow:
        2px 2px 4px #000000, /* 黒い影 */ 
        1px 1px 0 #FFA500, /* オレンジっぽい黄色の影 */
        -1px -1px 0 #FFA500,
        1px -1px 0 #FFA500,
        -1px 1px 0 #FFA500,
        2px 2px 0 #FFA500,
        -2px -2px 0 #FFA500,
        2px -2px 0 #FFA500,
        -2px 2px 0 #FFA500, /* 影を複数追加して囲み文字を実現 */
        3px 3px 0 #FFA500, /* さらに太くするための影 */
        -3px -3px 0 #FFA500,
        3px -3px 0 #FFA500,
        -3px 3px 0 #FFA500,
        4px 4px 0 #FFA500,
        -4px -4px 0 #FFA500,
        4px -4px 0 #FFA500,
        -4px 4px 0 #FFA500; /* さらに太くするための影 */
  display: inline-block; /* 背景色をテキストの周りに適用 */
  padding: 5px; /* テキスト周りの余白 */
  border-radius: 5px; /* 角を丸くする */
}

.rainbow-button {
  width: 150px;
  height: 50px;
  border-radius: 180px;
  position: relative;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  cursor: pointer;
  line-height: 50px; /* ボタンの高さに合わせて中央揃え */
  overflow: hidden;
  font-size: 18px; /* 文字サイズを18pxに設定 */
  color: rgba(235, 235, 235, 1); /* 文字色を設定 */
  font-weight: bold; /* 文字を太字に設定 */
  text-align: center; /* テキストを中央揃え */
  margin: 5px 0; /* 上下に5pxのマージンを追加 */
}

.rainbow-button:before {
  content: '';
  z-index: 1;
  position: absolute;
  display: block;
  width: 80%;
  height: 70%;
  top: 15%;
  left: 10%;
  transition: 0.3s opacity ease-in-out;
  filter: blur(15px);
  opacity: 0;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

.rainbow-button:hover:before {
  opacity: 1;
  transition: 0.3s opacity ease-in-out;
  filter: blur(25px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

.rainbow-button:after {
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: rgba(235, 235, 235, 1);
  font-weight: bold;
  z-index: 5;
  position: absolute;
  display: block;
  border-radius: 180px;
  width: 92%;
  height: 80%;
  top: 10%;
  left: 4%;
  background-color: rgb(19, 20, 22);
}